body{
    background-image:url("../images/papyrus.png")
}


header{
    width:100%;
    height:70px;
    border-bottom:solid #cccccc 1px;
    background-color:#ffffff;
    font-family: 'Georgia','Times New Roman', Times, serif;

}

 .headercontainer{
     width:960px;
     margin: 0 auto;

 }

 h2{
     color:#4aaaa5;


 }


nav{
    float:right;
    padding: 20px 0 0 0;
}
  
 a{
    color:lightgray;
    text-decoration:none;
    font-size:18px;
    padding: 0 10px 0 0;
 }

 h1{
     background-color:#4aaaa5;
     color:white;
     height: 30px;
     float:left;
     margin: 0;
     padding: 20px 10px;

 }

img{
    float:left;
    margin: 0 15px 15px 0
}

section{
    width:960px;
    margin: 20px auto;
    background-color: white;
    padding:20px;
    overflow: auto;
    padding-bottom: 20px;
    color:#777777;
    font-family:Arial,Helvetica Neue, Helvetica, sans-serif;
}

footer{
    width:100%;
    background-color:#666666;
    height: 70px;
    text-align: center;
    border-top:solid #4aaaa5 10px;
    padding-top:10px;
    color:#ffffff;
     position:sticky;
}